@use 'colors';
@use 'fonts';

.mat-mdc-text-field-wrapper {
  background-color: colors.$white !important;
  color: colors.$primary !important;
}

.mat-mdc-radio-group {
  display: flex;
  flex-direction: column;
}

.mdc-form-field>label {
  font: fonts.$main-font !important;
  color: colors.$primary;
}

.error-wrapper {
  color: colors.$rose;
  font: fonts.$main-font !important;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing,
.mat-mdc-form-field .mat-mdc-select.mat-mdc-select-invalid .mat-mdc-select-arrow,
.mat-form-field-invalid:not(.mat-form-field-disabled) .mat-mdc-form-field-infix::after {
  border-color: rgb(0, 0, 0, 0.38) !important;
  color: rgb(0, 0, 0, 0.38) !important;
}
