@use "colors";
@use "@angular/material" as mat;
@include mat.core();

$ins-fe-primary-palette: mat.define-palette(
    (
      50: #e4eff4,
      100: #bcd8e5,
      200: #96c0d4,
      300: #75a7c2,
      400: #5f96b8,
      500: #4c86ad,
      600: #427aa2,
      700: #376991,
      800: #2e5a80,
      900: #213e60,
      contrast: (
        100: colors.$dark-grey,
        200: colors.$dark-grey,
        300: colors.$dark-grey,
        400: colors.$white,
        500: colors.$white,
        600: colors.$white,
        700: colors.$white,
        800: colors.$white,
        900: colors.$white,
      )
    )
);

$ins-fe-accent-palette: mat.define-palette(
    (
      50: #e5e9a9,
      100: #dbe08a,
      200: #d3d975,
      300: #cdd262,
      400: #bfc15c,
      500: #adac54,
      600: #9a954e,
      700: #7a7045,
      800: #6e653e,
      900: #665d37,
      contrast: (
        100: colors.$dark-grey,
        200: colors.$dark-grey,
        300: colors.$dark-grey,
        400: colors.$dark-grey,
        500: colors.$dark-grey,
        600: colors.$white,
        700: colors.$white,
        800: colors.$white,
        900: colors.$white,
      )
    )
);

$ins-fe-warn-palette: mat.define-palette(mat.$red-palette);

$ins-fe-theme: mat.define-light-theme(
    (
      color: (
        primary: $ins-fe-primary-palette,
        accent: $ins-fe-accent-palette,
        warn: $ins-fe-warn-palette,
      ),
    )
);

@include mat.all-component-themes($ins-fe-theme);
