<div class="home-wrapper">
  <div class="left-panel">
    <div class="content-container">
      <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
      <div class="text-content">Etiam ornare mollis risus, sit amet aliquet leo finibus sed. Curabitur auctor id lacus
        sed sagittis. Mauris feugiat augue eu ex sagittis, ac pretium nunc aliquet. Integer hendrerit placerat ipsum eu
        laoreet. Donec lacinia iaculis urna id pellentesque.
      </div>
      <button mat-raised-button color="primary" class="calc-button" (click)="openModal()">Калкулирай премия</button>
    </div>
  </div>
  <img src="assets\images\obsolescence-of-insurance-premium-blob-1.png" alt="image" class="image-container">
</div>
