<div class="home-wrapper">
  <div class="left-panel">
    <div class="content-container">
      <h1 class="title">Добре дошли в нашието приложение за изчисляване на застрахователна премия с овехтяване!</h1>
      <div class="text-content">Нашето иновативно решение за прогнозиране на застрахователна премия Ви предоставя най-добрите и точни застрахователни предложения на пазара. С нашата платформа, Вие получавате бързо и лесно оферти, които са персонализирани и отговарят на вашите специфични нужди.
      </div>
      <button mat-raised-button color="primary" class="calc-button" (click)="openModal()">Калкулирай премия</button>
    </div>
  </div>
  <img src="assets\images\obsolescence-of-insurance-premium-blob-1.png" alt="image" class="image-container">
</div>
