<div class="question">
  <mat-label class="label">{{ question.question_name }}<span class="required-icon" *ngIf="question.question_required">&nbsp;&#42;</span></mat-label>
  <mat-hint class="hint" *ngIf="question.question_hint">{{ question.question_hint }}</mat-hint>
  <mat-form-field
    appearance="outline"
    color="accent"
    class="question-field"
    *ngIf="
      question.answer_type === AnswerType.TEXT ||
      question.answer_type === AnswerType.NUMBER
    "
  >
    <input
      matInput
      [formControl]="control"
      [placeholder]="question.question_hint ?? ''"
      [type]="question.answer_type === AnswerType.TEXT ? 'text' : 'number'"
    />
    <mat-error *ngIf="control.invalid && (control.touched || control.dirty)">
      {{control.hasError('pattern') ? 'Моля, въведете валиден отговор!' : 'Моля, дайте отговор на този въпрос!'}}
    </mat-error>
  </mat-form-field>
  <ng-container *ngIf="question.answer_type === AnswerType.RADIO_SELECT">
    <mat-radio-group
      aria-label="Select an option"
      [formControl]="control"
      color="accent"
      class="question-field"
    >
      <mat-radio-button value="Y">Да</mat-radio-button>
      <mat-radio-button value="N">Не</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="control.invalid && (control.touched || control.dirty)">Моля, дайте отговор на този въпрос!</mat-error>
  </ng-container>

  <ng-container *ngIf="question.answer_type === AnswerType.SELECT">
    <mat-form-field appearance="outline" color="accent" class="question-field">
      <mat-select [formControl]="control">
        @for (option of questionOptions; track option) {
        <mat-option [value]="option">{{ option.answer_name }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="control.invalid && (control.touched || control.dirty)">Моля, дайте отговор на този въпрос!</mat-error>
    </mat-form-field>
  </ng-container>
</div>
