@import 'styles/variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: $main-font;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font: $tertiary-font;
}
