<div class="page-wrapper table-preview-wrapper">
  <div class="content-wrapper">
    <table mat-table [dataSource]="tableData" class="table-container">
      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Година:</th>
        <td mat-cell *matCellDef="let element">{{ element.year }}</td>
      </ng-container>

      <!-- Insurance value Column -->
      <ng-container matColumnDef="insuranceValue">
        <th mat-header-cell *matHeaderCellDef>Застрахователна сума:</th>
        <td mat-cell *matCellDef="let element">{{ (element.insuranceValue | number : "1.0-0" : "fr-FR") ?? 0 }}</td>
      </ng-container>

      <!-- Premium value Column -->
      <ng-container matColumnDef="premium">
        <th mat-header-cell *matHeaderCellDef>Премия:</th>
        <td mat-cell *matCellDef="let element">
          {{ (element.premium | number : "1.0-0" : "fr-FR") ?? 0 }}
        </td>
      </ng-container>

      <!-- Currency value Column -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Валута:</th>
        <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <button
      mat-raised-button
      color="primary"
      class="calc-button"
      type="submit"
      routerLink="../home"
    >
      Калкулирай нова премия
    </button>
  </div>
</div>
